.input-section .tasks-input {
  grid-column: span 2;
}

.add-task {
  grid-column: span 4;
  background-color: rgb(235, 235, 235);
}

.add-task:hover {
  background-color: rgb(197, 197, 197);
}

.delete-history {
  grid-column: span 4;
  background-color: rgb(255, 209, 209);
}

.delete-history:hover {
  background-color: rgb(255, 148, 148);
}

.history-input .delete-button {
  background-color: rgb(255, 209, 209);
  justify-self: center;
  background-image: url("../../public/trash-can-outline.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.history-input .delete-button:hover {
  background-color: rgb(255, 131, 131);
}
